<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
  <link rel="icon" href="https://img.icons8.com/color/96/000000/pubg-helmet.png" type="image/icon type">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{%static '/css/home.css' %}">
  <link rel="stylesheet" href="{%static '/css/msg.css' %}">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>PUBG-API</title>

</head>




<body>
    
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
    
      <img src="https://img.icons8.com/color/96/000000/pubg-helmet.png" width="30" height="30"
        class="d-inline-block align-top" alt="" loading="lazy">
      PUBG API
    </a>
    <a href="/api">

      <button type="button" class="btn btn-light">API ROOT</button>
    </a>
  </nav>

  {% block body %} {% endblock %}

  
  <footer>
    <div class="footer">
      <span class="footer-title">Developed By <a href="https://meghalbisht.github.io/Ranjit-Resume/"> ranjitkshah </a>
      </span>
      <div class="footer-img">

      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <!-- <script>
    let submitclick = document.querySelector('#submitcon');
    let name = document.getElementById('exampleInputEmail1')
    let message = document.getElementById('exampleFormControlTextarea1')


    submitclick.addEventListener('submit', runevent);


    function runevent() {

      // e.preventDefault();

      alertify.alert('your suggestion is submitted', 'we will get back to you soon ',
        function () { alertify.success('Thanks for feedback'); });


        name.value="";
        message.value="";






    }



  </script> -->
</body>

</html>